.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
}
.icon{
  width: 12px;
  color: grey;
  opacity: 0.6;
}
.iconDiv{
  height: 35px;
  display: flex;
  flex-direction: row;
}
.thirteen input {
  border-radius: var(--border-radius);
  outline: none;
  width: 100%;
  color: #2c3e50;
  font-size: 20px;
  padding: 10px;  
  background: white;
  border: 1px solid rgb(215, 213, 213,1);
}
.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  /* font-size: 0.85rem;   */
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  margin-bottom: 20px;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description h1 {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
.cat {
  display: inherit;
  justify-content: space-evenly;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  margin-bottom: 1rem;
  grid-template-columns: repeat(6, minmax(18%, auto));
}
.cat button {
  margin: 2rem;
  position: relative;
  margin: 0;
  padding: 1rem;
  transition: transform 0.2s;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  /* font-size: 1.5rem; */
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
}
.card {
  padding: 1rem 1.2rem;
  margin: 0.5rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  /* background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15); */
  transition: background 200ms, border 200ms, scale 200ms;
}
.imgDiv {
  height: 200px;
}
.card span {
  opacity: 0;
  font-size: 10px;
  visibility: hidden;
  display: inline-block;
  transition: opacity 1000ms, scale 1000ms;
}

.card h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.1rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}
.publishDate{
  padding:  10px 0px 5px 0px;
  /* font-size: .9rem; */
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo,
.thirteen {
  position: relative;
}
.cat .thirteen {
  font-size: 16px;
}

.thirteen {
  margin: 0px;
  /* font-size: 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0px 2px 8px -1px #0000001a;
}

.thirteen::before,
.thirteen::after {
  content: "";
  position: absolute;
  z-index: -1;
}

/* Conic Gradient Animation */
.thirteen::before {
  animation: 6s rotate linear infinite;
  width: 20%;
  height: 300px;
  background: var(--tile-border);
}

/* Inner Square */
.thirteen::after {
  inset: 0;
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
  background-clip: content-box;
}
.loadMoreDiv{
  padding-top: 10px;
}
.loadMoreDiv .cat button{
  font-family: var(--font-mono);
}
.copyright{
  padding: .5rem;
  color: grey;
  font-family: var(--font-mono);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.2);
    border: 1px solid rgba(var(--card-border-rgb), 0.2);
    scale: 1.05;
  }
  .cat button:hover {
    transform: scale(1.1);
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
  .card:hover span {
    visibility: visible;
    /* transform: translateX(4px); */
    opacity: 70;
    transform: scale(1.5);
  }
}

@media (prefers-reduced-motion) {
  .thirteen::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .publishDate{
    /* padding: 0px 0px 3px; */
    font-size: 13px;
  }
  .icon{
    width: 8.5px;
  }
  .content {
    padding: 4rem;
  }
  .main {
    padding: 1%;
  }
  .grid {
    grid-template-columns: 1fr;
    /* margin-bottom: 60px;
    max-width: 320px;
    text-align: center; */
  }
  .cat {
    /* padding: 1rem; */
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, minmax(33%, auto));
  }
  .cat .thirteen {
    font-size: 10px;
  }
  .cat button {
    margin: 0.3rem;
  }
  .card {
    padding: 1rem;
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card h2 {
    font-size: 15px;
    margin-bottom: 0.5rem;
  }
  .card p {
    font-size: 13px;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    /* padding: 10px; */
    font-size: 0.8rem;
    padding-left: 5px;
    margin: 5px;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
  .loadMoreDiv .cat {
    grid-template-columns: repeat(1, minmax(100%, auto));;
  }
}

/* mobile and Smaller mobile */
@media (max-width: 401px) {
  .thirteen {
    font-size: 1rem;
  }
  .cat button {
    font-size: 0.7rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, minmax(50%, auto));
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
